Repository scikit-hep/particle, pull requests merged in 2023-01, with the labels that each got.

#455 Add tests of module APIs
  src/particle/data/__init__.py
  src/particle/lhcb/data/__init__.py
  tests/test_module_apis.py
  tests/test_package.py
Labels: tests

#457 chore: Prepare release 0.21.1
  docs/CHANGELOG.md
Labels: release

#458 Enhance code coverage for Corsika7 module
  src/particle/corsika/corsika7id.py
  tests/corsika/test_corsika7id.py
Labels: ⚙️ enhancement, tests

#459 test: Full coverage of PDGID three_charge function
  src/particle/pdgid/functions.py
  tests/conftest.py
  tests/pdgid/test_functions.py
Labels: ⚙️ enhancement, tests

#460 test: full coverage for J, S and L functions of mesons
  src/particle/pdgid/functions.py
  tests/conftest.py
  tests/particle/test_particle.py
  tests/pdgid/test_functions.py
Labels: ⚙️ enhancement, tests

#464 Prepare for release 0.21.2
  docs/CHANGELOG.md
Labels: release

#466 Nuclei information updated, CSV files version 12
  docs/CHANGELOG.md
  src/particle/data/conversions.csv
  src/particle/data/nuclei2022.csv
  src/particle/data/particle2022.csv
  src/particle/data/pdgid_to_corsika7id.csv
  src/particle/data/pdgid_to_evtgenname.csv
  src/particle/data/pdgid_to_geant3id.csv
  src/particle/data/pdgid_to_latexname.csv
  src/particle/data/pdgid_to_pythiaid.csv
  src/particle/lhcb/data/pdgid_to_lhcbname.csv
Labels: data files

#468 Make CSV data files version 12 the default (updates on nuclei)
  README.rst
  src/particle/data/README.rst
  src/particle/particle/particle.py
  tests/particle/test_particle.py
  tests/particle/test_performance.py
Labels: data files

#467 Actually run doctests with pytest
  .github/workflows/ci.yml
  docs/CHANGELOG.md
  src/particle/corsika/corsika7id.py
  src/particle/lhcb/functions.py
  src/particle/particle/particle.py
  tests/particle/test_generation.py
Labels: ⚙️ enhancement, 📝 documentation, tests
